
#lightbox{
    width: 100%;
    height: 100%;
    left:0;
    top:0;
}
.m-lightbox-mask {
    position: fixed;
    left:0;
    top:0;
    z-index: 9001;
    background: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
}
.m-lightbox-con{
    position: fixed;
    height: 300px;
    width: 300px;
    left:50%;
    top:50%;
    z-index: 9002;
    margin-left: -150px;
    margin-top: -150px;
    text-align: center;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}
.m-lightbox-img{
    width: auto;
    height: auto;
    transition: all 0.6s ease-in-out;

}
.m-lightbox-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    height: 50px;
    text-align: left;
    padding-left: 5px;
}
.m-lightbox-info h6{
    margin: 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
   color: #ffffff;
}
.m-lightbox-info p{
    font-size: 12px;
    margin: 0;
    padding: 0;

    color: #ffffff;
}

.m-lightbox-loading {
    display: none;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000000;
}
.m-lightbox-loading i{
    position: absolute;
    left: 50%;
    top:50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    background-color: #ffffff;
    border-radius: 100%;
    -webkit-animation: scaleout 1.0s infinite ease-in-out;
    animation: scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
    0% { -webkit-transform: scale(0.0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
          opacity: 0;
      }
}
.m-lightbox-prev{
    cursor: pointer;
    position: fixed;
    z-index: 9004;

    left: 8px;
    top:50%;
    width: 25px;
    height: 22px;
    margin-top: -11px;
    background: url("../images/icon/prev.png") 0 0 no-repeat;
    background-size: 25px 22px;
}
.m-lightbox-next{
    cursor: pointer;
    position: fixed;
    z-index: 9004;
    right: 8px;
    top:50%;
    margin-top: -11px;
    width: 25px;
    height: 22px;
    background: url("../images/icon/next.png") 0 0 no-repeat;
    background-size: 25px 22px;
}
.m-lightbox-page{
    position: absolute;
    color: #ffffff;
    right: 10px;
    top: 10px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    z-index: 9004;
}
.m-lightbox-close{
    position: fixed;
    top:15px;
    right: 15px;
    z-index: 9003;
    cursor: pointer;
    width: 27px;
    height: 27px;
    background: url("../images/icon/close.png") 0 0 no-repeat;
}
.z-closed,.z-closed .m-lightbox-page,.z-closed .m-lightbox-next,.z-closed .m-lightbox-prev,.z-closed .m-lightbox-mask{
    display: none;
}